@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@500&family=Ubuntu:wght@500&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(https://images.pexels.com/photos/7130560/pexels-photo-7130560.jpeg?cs=srgb&dl=pexels-codioful-%28formerly-gradienta%29-7130560.jpg&fm=jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
  }
  
  .container {
    margin-top: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 2cm solid #3b3636;
  }
  
  h1 {
    color: #333;
    text-decoration: underline;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
  }


  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
  }
  
  li.completed {
    text-decoration: line-through;
    color: #999;
  }
  
  .material-symbols-outlined {
    color: #f00;
    cursor: pointer;

  }
  
  /* .material-symbols-outlined {
    text-decoration: underline;
  }
   */
  #totalTasks {
    font-weight: bold;
  }